@font-face {
  font-family: demo;
  src: url(images/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: demo1;
  src: url(images/Nunito_Sans/NunitoSans-Bold.ttf);
}
*{
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: red;
}
 .main{
  width: 100%;margin: 0%;padding-left: 0%;
} 
.header1{
  background-image: linear-gradient(180deg,rgba(5, 13, 18, 0.8),
  rgba(7, 7, 7, 0.8),
  rgba(7, 7, 7, 0.8),
  rgba(7, 7, 7, 0.8),
  rgba(7, 7, 7, 0.8)), url(images/backdish.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  font-size: 15px;
  z-index: 10;
}  
 .header{
  background-color: rgb(7, 1, 1);
  position: sticky;
  top: 0;
  z-index: 1;
}
.restoran-left i{
  margin-left: 29px;
  width: 28.53px;
  height: 35px;
  margin-top: 16px;
}
.restoran-left h1{
  color: #FEA116;
  font-family:demo1;
  margin-left: 20px;
  padding: 20px;
  font-size: 36px;
}

.restoran-right{
    position: absolute;
    margin-top: -100px;
    margin-left: 250px;
    display: inline-block;
}
.restoran-right ul li {
padding: 15px;
display: inline-block;
position: relative;
}
.restoran-right ul{
  margin-left: 400px;
  margin-top: 25px;
}
.restoran-right ul li a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
}
.restoran-right button{
  background-color: #FEA116;
  color: white;
  border: none;
  padding: 16px;
  font-weight: bolder;
  font-size: 16px;
}

.drpdwn{
  display: none;
  z-index: 1;
}
.restoran-right li:hover a{
  color:#FEA116;
}
.restoran-right li:hover .drpdwn{
display: block;
position: absolute;
background-color:white;
margin-top: 50px;
margin-left: -15px;
padding: 30px;
color: black !important;
font-weight: 700px;
}
.meal{
  width: 100%;
  margin-top:200px;
  display: flex;
  font-family:Arial, Helvetica, sans-serif;

}
.lefttag{
  width: 50%;
  color: #ffff;
  margin-left: 30px;
}
.lefttag h2{
  font-size: 53.45px;
  font-family: demo1;
  font-weight: bolder;
  color: #ffff;
  line-height: 1.3;
}
.lefttag p{
  font-size: 16px;
  margin-top:  10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #ffff;
  line-height: 1.5;
}
.lefttag button{
  background-color: #FEA116;
  color: white;
  border: none;
  padding: 20px;
  width: 200px;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 16px;
}
.righttag img{
  height: 510px;
  margin-top: -100px;
  animation: circle 60s linear infinite;
 
}
@keyframes circle{
  100% {
    transform: rotate(360deg);
}} 
@media only screen and (max-width: 600px)
{
  *{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body{
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .main{
    width: 100%;margin: 0%;padding-left: 0%;
  }
  .header1{
    background-image: linear-gradient(180deg,rgba(5, 13, 18, 0.8),
    rgba(7, 7, 7, 0.8),
    rgba(7, 7, 7, 0.8),
    rgba(7, 7, 7, 0.8),
    rgba(7, 7, 7, 0.8)), url(images/backdish.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    font-size: 15px;
    z-index: 5;
  } 
  .header{
    background-color: rgb(7, 1, 1);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .restoran-left i{
    margin-left: 10px;
    width: 28.53px;
    height: 35px;
    margin-top: 10px;
  }
  .restoran-left h1{
    color: #FEA116;
  font-family:demo1;
  margin-left: 1px;
  padding: 10px;
  font-size: 20px;
  }
  .restoran-right{
      position: absolute;
      margin-top: -75px;
      margin-left: -200px;
      display: inline-block;
  }
  .restoran-right ul li {
  padding: 5px;
  display: inline-block;
  position: relative;
  }
  .restoran-right ul{
    margin-left: 450px;
    margin-top: 25px;
  }
  .restoran-right ul li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 9px;
    text-align: center;
  }
  .restoran-right button{
    background-color: #FEA116;
    color: white;
    border: none;
    padding: 5px;
    font-weight: bolder;
    font-size: 9px;
  }
  
  .drpdwn{
    display: none;
    z-index: 1;
  }
  .restoran-right li:hover a{
    color:#FEA116;
  }
  .restoran-right li:hover .drpdwn{
  display: block;
  position: absolute;
  background-color:white;
  margin-top: 10px;
  margin-left: -5px;
  padding: 10px;
  color: black !important;
  font-weight: 700px;
  }
  .meal{
    width: 50%;
    margin-top:50px;
    margin-left: 10px;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
  }
  .lefttag{
    width: 50%;
    color: #ffff;
    margin-left: 30px;
  }
  .lefttag h2{
    font-size: 15px;
    font-family: demo1;
    font-weight: bolder;
    color: #ffff;
    line-height: 1.3;
  }
  .lefttag p{
    font-size: 10px;
    margin-top:  10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffff;
    line-height: 1.5;
  }
  .lefttag button{
    background-color: #FEA116;
    color: white;
    border: none;
    padding: 10px;
    width: 140px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 10px;
  }
  .righttag img{
    height: 250px;
    margin-top: -20px;
    margin-left: 100px;
    animation: circle 60s linear infinite;
  }
}
.master1{
  background-color: #F7F4F3;
  border: 1px solid aqua;
  width: 100%;
  height: 1800px;
  padding: 50px 101px 0px 50px;
}
.chef{
  background-color:#FFFF;
  height: 240px;
  width: 261px;
}
.chef i{
  color: #FEA116;
  padding: 20px 20px 20px 20px;
}
.chef h5{
  font-size: 20px;
  color:black;
  padding: 10px 10px 10px 10px;
}
.chef p{
  margin-top:  15px;
  color: #666565;
  padding: 5px 5px 10px 10px;
  
}
.chef:hover{
  background-color: #FEA116;
}
.chef1{
  background-color:#FFFF;
  height: 240px;
  width: 261px;
  margin: -240px 20px 50px 300px;
  padding-top: 25px;
  
}
.chef1 i{
  color: #FEA116;
  padding: 0px 25px 5px 25px;
}
.chef1 h5{
  font-size: 20px;
  color:black;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}
.chef1 p{
  margin-top:  15px;
  color: #666565;
  margin-top: 5px;
  padding: 15px 5px 10px 10px;
  
}
.chef1:hover{
  background-color: #FEA116;
}
.chef2{
  background-color:#FFFF;
  height: 240px;
  width: 261px;
  margin: -290px 20px 50px 600px ;
  padding: 30px 30px 30px 30px;
}
.chef2 i{
  color: #FEA116;
  padding: 0px 25px 5px 5px;
}
.chef2 h5{
  font-size: 20px;
  color:black;
  padding: 10px 10px 10px 0px;
  margin-top: 10px;
}
.chef2 p{
  margin-top:  15px;
  color: #666565;
  margin-top: 5px;
  padding: 15px 5px 10px 0px;
  
}
.chef2:hover{
  background-color: #FEA116;
}
.chef3{
  background-color:#FFFF;
  height: 240px;
  width: 261px;
  margin: -290px 20px 50px 920px ;
  padding: 30px 30px 30px 30px;
  
}
.chef3 i{
  color: #FEA116;
  padding: 0px 25px 5px 2px;
}
.chef3 h5{
  font-size: 20px;
  color:black;
  padding: 10px 10px 10px 0px;
  margin-top: 10px;

}
.chef3 p{
  margin-top:  15px;
  color: #666565;
  
}
.chef3:hover{
  background-color: #FEA116;
}
.aboutus{
  display: flex;
  margin-top: 100px;
}
.aboutus1{
  position: relative;
  
}
.a1 img{
  width: 259px;
  position: absolute;
  height: 259px;
  margin-left: 120px;
}
.a2 img{
  width: 194.25px;
  height: 194.25px;
  margin-left: 400px;
  margin-top: 70px;
  position: absolute;
}
.a3 img{
  width: 194.25px;
  height: 194.25px;
  margin-top: 280px;
  margin-left: 195px;
  position: absolute;
}
.a4 img{
  width: 259px;
  height: 259px;
  margin-left: 400px;
  margin-top: 280px;
  position: absolute;
}
.aboutus2{
  width: 100%;
}
.a5{
  margin-left: 700px;
  margin-top: 70px;
  width: 50%;
}
.a5 h2{
  font-size: 30px;
  color: #FEA116;
  font-family:demo;
}
.a5 h1{
  font-size: 40px;
  color: black;
  margin-top: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.a5 p{
  font-size: 16px;
  color:#666565;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 15px;
  word-spacing: 5px;
}
.a6{
  display: flex;
  margin-left: 690px;
  margin-top: 50px;
}
.a7{
  border-right: 10px;
  color: #FEA116;
  width: 50%;
}
.a7 h1 {
  color: #FEA116;
  font-size: 48px;
  margin-left: 10px;
  padding-left: 07px;
  border-left: 3px solid #FEA116;
}
.a7 p span{
  color: #666565;
}
.a7 p {
  margin-left: 80px;
  margin-top: -45px;
  font-size: 16px;
  padding-left: 10px;
}
.a8 h1 {
  color: #FEA116;
  font-size: 48px;
  margin-left: 50px;
  padding-left: 10px;
  border-left: 3px solid #FEA116;
}
.a8 p span{
  color: #666565;
}
.a8 p {
  margin-left: 120px;
  margin-top: -45px;
  font-size: 16px;
  padding-left: 10px;
}
.read{
  background-color: #FEA116;
  color: white;
  border: none;
  padding: 16px 48px;
  margin-top: 40px;
  margin-left: 700px;
  font-weight: bolder;
  font-size: 16px;
}
.foodmenu{}
.foodmenu1 p{
  font-family: demo;
  font-weight: 20px;
  color: #FEA116;
  text-align: center;
  margin-top: 150px;
}
.foodmenu1 h5{
  font-family: demo1;
  font-size:40px;
  color:black;
  text-align: center;
  margin-top: 10px;
}
.foodmenu2{
  margin-left: 85px;
  margin-top: 20px;
  
}
.foodmenu2 span{
  font-family: demo1;
  font-size: 14px;
  color:#666565;
  display: flex;
  margin-left: 60px;
  margin-top: -30px;
}
.foodmenu2 i{
  width: 40px;
  height: 32px;
  color: #FEA116;
  margin-left: 330px;
  margin-top: 10px;
}
.foodmenu2 p{
  font-family: demo1;
  font-size: 16px;
  color:black;
  margin-left: 390px;  
  margin-top: -20px;
}
.foodmenu3{
  margin-top: -33px;
  margin-left: -10px;
  
}
.foodmenu3 span{
  font-family: demo1;
  font-size: 14px;
  color:#666565;
  display: flex;
  margin-left: 50px;
  margin-top: -30px;
}
.foodmenu3 i{
  width: 40px;
  height: 32px;
  color: #FEA116;
  margin-left: 580px;
}
.foodmenu3 p{
  font-family: demo1;
  font-size: 16px;
  color:black;
  margin-left: 630px;  
  margin-top: -20px;
}
.foodmenu4{
  margin-top: -33px;
  margin-left: 100px;
}
.foodmenu4 span{
  font-family: demo1;
  font-size: 14px;
  color:#666565;
  display: flex;
  margin-left: 50px;
  margin-top: -30px;
}
.foodmenu4 i{
  width: 40px;
  height: 32px;
  color: #FEA116;
  margin-left: 590px;
}
.foodmenu4 p{
  font-family: demo1;
  font-size: 16px;
  color:black;
  margin-left: 640px;  
  margin-top: -20px;
}
.line{
  width: 30%;
  position: relative;
  top:10px;
  left: 420px;
}
.popular{
  display: flex;
}
.breakfast1 img{
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin-top: 50px;
}
.breakfast2 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast2 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast2 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast2 .border{
  border:1px solid grey;
   width:450px; 
   margin-left:25px; 
   margin-top: 10px;
}
.breakfast3 img{
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 50px;
}
.breakfast4 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast4 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast4 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast4 .border1{
  border:1px solid grey;
   width:470px; 
   margin-left:25px; 
   margin-top: 10px;
}
.popular1{
  display: flex;
}
.breakfast5 img{
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin-top: 50px;
}
.breakfast6 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast6 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast6 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast6 .border2{
  border:1px solid grey;
   width:450px; 
   margin-left:25px; 
   margin-top: 10px;
}
.breakfast7 img{
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 50px;
}
.breakfast8 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast8 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast8 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast8 .border3{
  border:1px solid grey;
   width:470px; 
   margin-left:25px; 
   margin-top: 10px;
}
.popular2{
  display: flex;
}
.breakfast9 img{
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin-top: 50px;
}
.breakfast10 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast10 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast10 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast10 .border4{
  border:1px solid grey;
   width:450px; 
   margin-left:25px; 
   margin-top: 10px;
}
.breakfast11 img{
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 50px;
}
.breakfast12 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast12 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast12 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast12 .border5{
  border:1px solid grey;
   width:470px; 
   margin-left:25px; 
   margin-top: 10px;
}
.popular3{
  display: flex;
}
.breakfast13 img{
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin-top: 50px;
}
.breakfast14 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast14 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast14 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast14 .border6{
  border:1px solid grey;
   width:450px; 
   margin-left:25px; 
   margin-top: 10px;
}
.breakfast15 img{
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 50px;
}
.breakfast16 h4{
  font-size: 20px;
  color: black;
  font-family: demo1;
  margin-left: 24px;
  margin-top: 50px;
}
.breakfast16 h5{
  font-size: 20px;
  color: #FEA116;
  font-family: demo1;
  margin-left: 390px;
  margin-top: -20px;
}
.breakfast16 p{
  font-size: 14px;
  color: #666565;
  font-style: italic;
  font-family: demo1;
  margin-left: 24px;
}
.breakfast16 .border7{
  border:1px solid grey;
   width:470px; 
   margin-left:25px; 
   margin-top: 10px;
}
@media only screen and (max-width: 600px)
{
  .master1{
    background-color: #F7F4F3;
    border: 1px solid aqua;
    width: 100% !important;
    height: 1980px;
    padding: 50px 200px 0px 50px;
  }
  .chef{
    background-color:#FFFF;
    height: 200px;
    width: 250px;
    margin: -10px 0px 0px -15px ;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 30px;
    
  }
  .chef i{
    color: #FEA116;
    padding: 10px 10px 10px 10px;
  }
  .chef h5{
    font-size: 15px;
    color:black;
    padding: 10px 10px 10px 10px;
  }
  .chef p{
    margin-top:  -5px;
    font-size: 13px;
    color: #666565;
    padding: 5px 5px 10px 10px;
  }
  .chef:hover{
    background-color: #FEA116;
  }
  .chef1{
    background-color:#FFFF;
    height: 200px;
    width: 250px;
    margin: -200px -20px 50px 270px ;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 40px;
    
  }
  .chef1 i{
    color: #FEA116;
    padding: 0px 25px 5px 25px;
  }
  .chef1 h5{
    font-size: 15px;
    color:black;
    padding:5px 10px 10px 10px;
    margin-top: 16px;
  }
  .chef1 p{
    margin-top: -5px;
    color: #666565;
    padding: 10px 5px 10px 10px;
    font-size: 12px;
  }
  .chef1:hover{
    background-color: #FEA116;
  }
  .chef2{
    background-color:#FFFF;
    height: 200px;
    width: 250px;
    margin: -15px 20px 50px -10px ;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 40px;
    
  }
  .chef2 i{
    color: #FEA116; 
    padding: 0px 25px 5px 5px;
  }
  .chef2 h5{
    font-size: 15px;
    color:black;
    padding: 10px 10px 10px 0px;
    margin-top: 10px ;
  }
  .chef2 p{
    margin-top: -10px;
    font-size: 12px;
    color: #666565;
    padding: 15px 5px 10px 0px;
    
  }
  .chef2:hover{
    background-color: #FEA116;
  }
  .chef3{
    background-color:#FFFF;
    height: 200px;
    width: 250px;
    margin: -250px 20px 50px 270px ;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 40px;
    
  }
  .chef3 i{
    color: #FEA116;
    padding: 0px 25px 5px 2px;
  }
  .chef3 h5{
    font-size: 15px;
    color:black;
    margin-top: 10px ;
    padding: 10px 10px 10px 0px;
  }
  .chef3 p{
    margin-top: 5px;
    font-size: 12px;
    color: #666565;
    
  }
  .chef3:hover{
    background-color: #FEA116;
  }
  .aboutus{
    display: flex;
    margin-top: 10px;
  }
  .aboutus1{
    position: relative;
    
  }
  .a1 img{
    width: 120px;
    position: absolute;
    height: 120px;
    margin-left: -10px;
    margin-top: 25px;
    
  }
  .a2 img{
    width: 90px;
    height: 90px;
    margin-left: 125px;
    margin-top: 55px;
    position: absolute;
  }
  .a3 img{
    width: 90px;
    height: 90px;
    margin-top: 155px;
    margin-left: 30px;
    position: absolute;
  }
  .a4 img{
    width: 120px;
    height: 120px;
    margin-left: 130px;
    margin-top: 160px;
    position: absolute;
  }
  .aboutus2{
    width: 100%;
  }
  .a5{
    margin-left: 260px;
    margin-top: -10px;
  }
  .a5 h2{
    font-size: 15px;
    color: #FEA116;
    font-family:demo;
  }
  .a5 h1{
    font-size: 18px;
    color: black;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .a5 p{
    font-size: 12px;
    color:#666565;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    word-spacing: 5px;
  }
  .a6{
    display: flex;
    margin-left: 175px;
    margin-top: 40px;
  }
  .a7{
    border-right: 5px;
    color: #FEA116;
  }
  .a7 h1 {
    color: #FEA116;
    font-size: 20px;
    margin-left: 85px;
    padding-left: 07px;
    margin-top: -20px;
    border-left: 3px solid #FEA116;
  }
  .a7 p span{
    color: #666565;
  }
  .a7 p {
    margin-left: 120px;
    margin-top: -28px;
    font-size: 12px;
    padding-left: 10px;
  }
  .a8 h1 {
    color: #FEA116;
    font-size: 20px;
    margin-left: 35px;
    padding-left: 07px;
    margin-top: -20px;
    border-left: 3px solid #FEA116;
  }
  .a8 p span{
    color: #666565;
  }
  .a8 p {
    margin-left: 70px;
    margin-top: -28px;
    font-size: 12px;
    padding-left: 10px;
  }
  .read{
    background-color: #FEA116;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 260px;
    font-weight: bolder;
    font-size: 12px;
  }
  .foodmenu1 p{
    font-family: demo;
    font-weight: 20px;
    color: #FEA116;
    margin-left: 125px;
    margin-top: 50px;
  }
  .foodmenu1 h5{
    font-family: demo1;
    font-size:25px;
    color:black;
    margin-left: 120px;
    margin-top: 10px;
  }
  .foodmenu2{
    margin-left: -400px;
    margin-top: 25px;
    
  }
  .foodmenu2 span{
    font-family: demo1;
    font-size: 12px;
    color:#666565;
    display: flex;
    margin-left: 60px;
    margin-top: -30px;
  }
  .foodmenu2 i{
    width: 40px;
    height: 32px;
    color: #FEA116;
    margin-left: 400px;
    margin-top: 10px;
  }
  .foodmenu2 p{
    font-family: demo1;
    font-size: 15px;
    color:black;
    margin-left: 460px;  
    margin-top: -20px;
  }
  .foodmenu3{
    margin-top: -30px;
    margin-left: -400px;
    
  }
  .foodmenu3 span{
    font-family: demo1;
    font-size: 14px;
    color:#666565;
    display: flex;
    margin-left: 50px;
    margin-top: -30px;
  }
  .foodmenu3 i{
    width: 40px;
    height: 32px;
    color: #FEA116;
    margin-left: 580px;
  }
  .foodmenu3 p{
    font-family: demo1;
    font-size: 16px;
    color:black;
    margin-left: 630px;  
    margin-top: -20px;
  }
  .foodmenu4{
    margin-top: -36px;
    margin-left: -230px;
  }
  .foodmenu4 span{
    font-family: demo1;
    font-size: 14px;
    color:#666565;
    display: flex;
    margin-left: 50px;
    margin-top: -30px;
  }
  .foodmenu4 i{
    width: 40px;
    height: 32px;
    color: #FEA116;
    margin-left: 590px;
  }
  .foodmenu4 p{
    font-family: demo1;
    font-size: 16px;
    color:black;
    margin-left: 640px;  
    margin-top: -20px;
  }
  .line{
    width: 50%;
    position: relative;
    top:20px;
    left: 160px;
  }
  .popular{
    display: flex;
  }
  .breakfast1 img{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .breakfast2 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: 24px;
    margin-top: 50px;
  }
  .breakfast2 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: 300px;
    margin-top: -20px;
  }
  .breakfast2 .border{
    border:1px solid grey;
     width:320px; 
     margin-left:25px; 
     margin-top: 15px;
  }
  .breakfast2 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: 24px;
    margin-top: -10px;
  }
  .breakfast3 img{
    width: 70px;
    height: 70px;
    margin-left: -415px;
    margin-top: 150px;
  }
  .breakfast4 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: -320px;
    margin-top: 150px;
  }
  .breakfast4 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: -40px;
    margin-top: -20px;
  }
  .breakfast4 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: -320px;
    margin-top: -5px;
  }
  .breakfast4 .border1{
    border:1px solid grey;
     width:320px; 
     margin-left:-320px; 
     margin-top: 15px;
  }
  .popular1{
    display: flex;
  }
  .breakfast5 img{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .breakfast6 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: 24px;
    margin-top: 50px;
  }
  .breakfast6 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: 300px;
    margin-top: -20px;
  }
  .breakfast6 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: 24px;
    margin-top: -10px;
  }
  .breakfast6 .border2{
    border:1px solid grey;
     width:320px; 
     margin-left:25px; 
     margin-top: 15px;
  }
  .breakfast7 img{
    width: 70px;
    height: 70px;
    margin-left: -415px;
    margin-top: 150px;
  }
  .breakfast8 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: -320px;
    margin-top: 150px;
  }
  .breakfast8 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: -40px;
    margin-top: -20px;
  }
  .breakfast8 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: -320px;
    margin-top: -5px;
  }
  .breakfast8 .border3{
    border:1px solid grey;
     width:320px; 
     margin-left:-320px; 
     margin-top: 15px;
  }
  .popular2{
    display: flex;
  }
  .breakfast9 img{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .breakfast10 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: 24px;
    margin-top: 50px;
  }
  .breakfast10 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: 300px;
    margin-top: -20px;
  }
  .breakfast10 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: 24px;
    margin-top: -10px;
  }
  .breakfast10 .border4{
    border:1px solid grey;
     width:320px; 
     margin-left:25px; 
     margin-top: 15px;
  }
  .breakfast11 img{
    width: 70px;
    height: 70px;
    margin-left: -415px;
    margin-top: 150px;
  }
  .breakfast12 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: -320px;
    margin-top: 150px;
  }
  .breakfast12 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: -40px;
    margin-top: -20px;
  }
  .breakfast12 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: -320px;
    margin-top: -5px;
  }
  .breakfast12 .border5{
    border:1px solid grey;
     width:320px; 
     margin-left:-320px; 
     margin-top: 15px;
  }
  .popular3{
    display: flex;
  }
  .breakfast13 img{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .breakfast14 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: 24px;
    margin-top: 50px;
  }
  .breakfast14 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: 300px;
    margin-top: -20px;
  }
  .breakfast14 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: 24px;
    margin-top: -10px;
  }
  .breakfast14 .border6{
    border:1px solid grey;
     width:320px; 
     margin-left:25px; 
     margin-top: 15px;
  }
  .breakfast15 img{
    width: 70px;
    height: 70px;
    margin-left: -415px;
    margin-top: 150px;
  }
  .breakfast16 h4{
    font-size: 15px;
    color: black;
    font-family: demo1;
    margin-left: -320px;
    margin-top: 150px;
  }
  .breakfast16 h5{
    font-size: 15px;
    color: #FEA116;
    font-family: demo1;
    margin-left: -40px;
    margin-top: -20px;
  }
  .breakfast16 p{
    font-size: 14px;
    color: #666565;
    font-style: italic;
    font-family: demo1;
    margin-left: -320px;
    margin-top: -5px;
  }
  .breakfast16 .border7{
    border:1px solid grey;
     width:320px; 
     margin-left:-320px; 
     margin-top: 15px;
  }
}
.video{
  display:flex;
  width: 100%;
  /* margin: 0px; */
  /* padding: 0px; */
  /* margin-top: 10px; */
  /* height: 200px; */
}
.video-left {
    width: 50%;
    /* margin-top: 900px; */
}
.form-right{
  width: 50%;
  height: 522px;
  background-color: #122036;
}
.form-right h6{
  font-size: 20px;
  font-family: demo;
  color: #FEA116;
  margin-left: 50px;
  margin-top: 50px;
  /* border-right: 1px solid #FEA116; */
}
.form-right h4{
  font-size: 40px;
  font-family: demo1;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
}
.name1{
  height: 58px;
    width: 281.28px;
    padding: 16px 12px;
    margin-left: 50px;
    margin-top: 10px;
}
.name2{
  height: 58px;
    width: 281.28px;
    padding: 16px 12px;
    margin-left: 20px;
    margin-top: 20px;
}
.name3{
  height: 58px;
    width: 281.28px;
    padding: 16px 12px;
    margin-left: 50px ;
    margin-top: 20px;
}
.name4{
  text-align: left;
  height: 58px;
    width: 281.28px;
    padding: 16px 12px;
    margin-left: 20px;
    margin-top: 10px;
}
.name5{
  width: 550px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 16px 12px;
    font-size: 15px;
}
.table{
  background-color: #FEA116;
  color: white;
  border: none;
  width: 580px;
  height: 58px;
  padding: 16px;
  font-weight: bolder;
  font-size: 16px;
  margin-left: 50px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px)
{
  .video{
    flex-direction: column;
    width: 100%;
  }
  .video-left{
    width: 100%;
  }
  .video-left iframe
  {
    max-width: 100%;
  }
  .form-right{
    width: 100%;
    height: 450px;
    background-color: #122036;
    margin-top: -4px;
  }
  .form-right h6{
    font-size: 15px;
    font-family: demo;
    color: #FEA116;
    margin-left: 50px;
    margin-top: 15px;
    /* border-right: 1px solid #FEA116; */
  }
  .form-right h4{
    font-size: 30px;
    font-family: demo1;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
  }
  .name1{
    height: 30px;
      width: 200px;
      padding: 10px 10px;
      margin-left: 50px;
      margin-top: 10px;
  }
  .name2{
    height: 30px;
      width: 200px;
      padding: 10px 10px;
      margin-left: 20px;
      margin-top: 20px;
  }
  .name3{
    height: 50px;
      width: 200px;
      padding: 10px 10px;
      margin-left: 50px ;
      margin-top: 20px;
  }
  .name4{
    text-align: left;
    height: 50px;
      width: 200px;
      padding: 10px 10px;
      margin-left: 20px;
      margin-top: 10px;
  }
  .name5{
    width: 425px;
      margin-top: 20px;
      margin-left: 50px;
      padding: 16px 12px;
      font-size: 15px;
  }
  .table{
    background-color: #FEA116;
    color: white;
    border: none;
    width: 425px;
    height: 58px;
    padding: 16px;
    font-weight: bolder;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
  }
}
.c{
  background-color:  #F7F4F3;
  width: 100%;
  margin-top: -4px;
}
.c1 p{
  font-family: demo;
  font-weight: 20px;
  color: #FEA116;
  text-align: center;
  padding-top: 100px;
}
.c2 p{
    font-family: demo1;
    font-size:40px;
    color:black;
     text-align: center;
}
.cmain{
  display: flex;
}
.c3{
  background-color:white;
  width: 261px;
  height: 325px;
  margin-left: 100px;
  margin-top: 50px;
}
.c4 img{
  border-radius: 50%;
  width: 213px;
  height: 213px;
  margin-top: 30px;
  margin-left: 20px;
}
.c4 h5{
  font-size: 20px;
  font-family: demo1;
  text-align: center;
  color: black;
  margin-top: 30px;
}
.c4 p{
  font-size: 14px;
  font-family: demo1;
  text-align: center;
  color: #666565;
}
.c5{
  background-color:white;
  width: 261px;
  height: 325px;
  margin-left: 30px;
  margin-top: 50px;
}
.c6 img{
  border-radius: 50%;
  width: 213px;
  height: 213px;
  margin-top: 30px;
  margin-left: 20px;
}
.c6 h5{
  font-size: 20px;
  font-family: demo1;
  text-align: center;
  color: black;
  margin-top: 30px;
}
.c6 p{
  font-size: 14px;
  font-family: demo1;
  text-align: center;
  color: #666565;
}
.c7{
  background-color:white;
  width: 261px;
  height: 325px;
  margin-left: 30px;
  margin-top: 50px;
}
.c8 img{
  border-radius: 50%;
  width: 213px;
  height: 213px;
  margin-top: 30px;
  margin-left: 20px;
}
.c8 h5{
  font-size: 20px;
  font-family: demo1;
  text-align: center;
  color: black;
  margin-top: 30px;
}
.c8 p{
  font-size: 14px;
  font-family: demo1;
  text-align: center;
  color: #666565;
}
.c9{
  background-color:white;
  width: 261px;
  height: 325px;
  margin-left: 30px;
  margin-top: 50px;
}
.c10 img{
  border-radius: 50%;
  width: 213px;
  height: 213px;
  margin-top: 30px;
  margin-left: 20px;
}
.c10 h5{
  font-size: 20px;
  font-family: demo1;
  text-align: center;
  color: black;
  margin-top: 30px;
}
.c10 p{
  font-size: 14px;
  font-family: demo1;
  text-align: center;
  color: #666565;
}
.test p{
  font-family: demo;
  font-weight: 20px;
  color: #FEA116;
  text-align: center;
  padding-top: 100px;
}
.test1 p{
    font-family: demo1;
    font-size:40px;
    color:black;
     text-align: center;
}
.test-main{
height: 400px;
}
.t1{
  display: flex;
  flex-wrap: wrap;
  background-color:#F7F4F3;
  padding: 65px;
  padding-left: 100px;
}
.t2{
    background-color:white;
    width: 380px;
    height: 240px;
  }
.t2 i{
  color: white;
  padding: 24px;
}
.t2 p{
  font-size: 18px;
  color: #666565;
  margin: 0px 0px 0px 22px;
  padding: 2px;
}
.t3 img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-top: 30px;
}
.t3 h5{
  font-size: 20px;
  font-family: demo1;
  color: black;
  margin-top: -55px;
  margin-left: 100px;
}
.t3 p{
  font-size: 14px;
  font-family: demo1;
  color: #666565;
  margin-left: 100px;
}
.t4{
  background-color:white;
  width: 380px;
  height: 240px;
  margin-left: 20px;
  /* margin-top: 50px;  */
}
.t4 i{
  color: white;
  padding: 24px;
}
.t4 p{
  font-size: 18px;
  color: #666565;
  margin: 0px 0px 0px 22px;
  padding: 2px;
}
.t5 img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-top: 30px;
}
.t5 h5{
  font-size: 20px;
  font-family: demo1;
  color: black;
  margin-top: -55px;
  margin-left: 100px;
}
.t5 p{
  font-size: 14px;
  font-family: demo1;
  color: #666565;
  margin-left: 100px;
}
.t6{
  background-color:white;
  width: 380px;
  height: 240px;
  margin-left: 20px;
  z-index: 0;
}
.t6 i{
  color: white;
  padding: 24px;
}
.t6 p{
  font-size: 18px;
  color: #666565;
  margin: 0px 0px 0px 22px;
  padding: 2px;
}
.t7 img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-top: 30px;
}
.t7 h5{
  font-size: 20px;
  font-family: demo1;
  color: black;
  margin-top: -55px;
  margin-left: 100px;
}
.t7 p{
  font-size: 14px;
  font-family: demo1;
  color: #666565;
  margin-left: 100px;
}
.t2:hover{
  background-color: #FEA116;
}
.t4:hover{
  background-color: #FEA116;
}
.t6:hover{
  background-color: #FEA116;
}
@media only screen and (max-width: 600px)
{
  .c{
    background-color:  #F7F4F3;
    margin-top: -5px;
  }
  .c1 p{
    font-family: demo;
    font-size: 15px;
    color: #FEA116;
    text-align: center;
    padding-top: 50px;
  }
  .c2 p{
      font-family: demo1;
      font-size:20px;
      color:black;
       text-align: center;
  }
  .cmain{
    display: inline-block;
  }
  .c3{
    background-color:white;
    width: 261px;
    height: 325px;
    margin-left: 180px;
    margin-top: 25px;
  }
  .c4 img{
    border-radius: 50%;
    width: 213px;
    height: 213px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .c4 h5{
    font-size: 20px;
    font-family: demo1;
    text-align: center;
    color: black;
    margin-top: 10px;
  }
  .c4 p{
    font-size: 14px;
    font-family: demo1;
    text-align: center;
    color: #666565;
  }
  .c5{
    background-color:white;
    width: 261px;
    height: 325px;
    margin-left: 180px;
    margin-top: 25px;
  }
  .c6 img{
    border-radius: 50%;
    width: 213px;
    height: 213px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .c6 h5{
    font-size: 20px;
    font-family: demo1;
    text-align: center;
    color: black;
    margin-top: 10px;
  }
  .c6 p{
    font-size: 14px;
    font-family: demo1;
    text-align: center;
    color: #666565;
  }
  .c7{
    background-color:white;
    width: 261px;
    height: 325px;
    margin-left: 180px;
    margin-top: 25px;
  }
  .c8 img{
    border-radius: 50%;
    width: 213px;
    height: 213px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .c8 h5{
    font-size: 20px;
    font-family: demo1;
    text-align: center;
    color: black;
    margin-top: 10px;
  }
  .c8 p{
    font-size: 14px;
    font-family: demo1;
    text-align: center;
    color: #666565;
  }
  .c9{
    background-color:white;
    width: 261px;
    height: 325px;
    margin-left: 180px;
    margin-top: 25px;
  }
  .c10 img{
    border-radius: 50%;
    width: 213px;
    height: 213px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .c10 h5{
    font-size: 20px;
    font-family: demo1;
    text-align: center;
    color: black;
    margin-top: 10px;
  }
  .c10 p{
    font-size: 14px;
    font-family: demo1;
    text-align: center;
    color: #666565;
  }
  .test p{
    font-family: demo;
    font-size: 15px;
    color: #FEA116;
    text-align: center;
    padding-top: 40px;
  }
  .test1 p{
      font-family: demo1;
      font-size:25px;
      color:black;
       text-align: center;
  }
  .test-main{
    display: inline-block;
     height: 400px;
     width: 100%;
  }
  .t1{
    display: inline-block;
    /* background-color: #FEA116; */
    padding: 120px 120px 40px 120px;
    width: 100%;
  }
  .t2{
      background-color:white;
      width: 261px;
      height: 200px;
      margin-left: 60px;
      margin-top: -90px;
    }
  .t2 i{
    color: white;
    padding: 24px;
  }
  .t2 p{
    font-size: 13px;
    color: #666565;
    margin: 0px 0px 0px 22px;
    padding: 2px;
  }
  .t3 img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .t3 h5{
    font-size: 20px;
    font-family: demo1;
    color: black;
    margin-top: -55px;
    margin-left: 100px;
  }
  .t3 p{
    font-size: 13px;
    font-family: demo1;
    color: #666565;
    margin-left: 100px;
  }
  .t4{
    background-color:white;
    width: 261px;
      height: 200px;
      margin-left: 60px;
      margin-top: 15px;
  }
  .t4 i{
    color: white;
    padding: 24px;
  }
  .t4 p{
    font-size: 13px;
    color: #666565;
    margin: 0px 0px 0px 22px;
    padding: 2px;
  }
  .t5 img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .t5 h5{
    font-size: 20px;
    font-family: demo1;
    color: black;
    margin-top: -55px;
    margin-left: 100px;
  }
  .t5 p{
    font-size: 13px;
    font-family: demo1;
    color: #666565;
    margin-left: 100px;
  }
  .t6{
    background-color:white;
    width: 261px;
      height: 200px;
      margin-left: 60px;
      margin-top: 15px; 
  }
  .t6 i{
    color: white;
    padding: 15px;
  }
  .t6 p{
    font-size: 13px;
    color: #666565;
  }
  .t7 img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .t7 h5{
    font-size: 15px;
    font-family: demo1;
    color: black;
    margin-top: -55px;
    margin-left: 100px;
  }
  .t7 p{
    font-size: 13px;
    font-family: demo1;
    color: #666565;
    margin-left: 100px;
  }
  .t2:hover{
    background-color: #FEA116;
  }
  .t4:hover{
    background-color: #FEA116;
  }
  .t6:hover{
    background-color: #FEA116;
  }
}
.footer{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: #151214;
}
.footer1{ 
  padding: 10px 10px 100px 10px;
}
.footer1 h3{
  font-family: demo;
  font-size: 24px;
  color: #FEA116;
  margin-top: 50px;
  margin-left: 100px;
}
.footer1 p{
  font-family: demo1;
  font-weight: 20px;
  color: white;
  font-size: 15px;
  margin-left: 90px;
  padding: 10px;
}
.footer2{
  margin-left: 50px;
  margin-top: -50px;
}
.footer2 h3{
  font-family: demo;
  font-size: 24px;
  color: #FEA116;
  margin-top: 115px;
  margin-left: 60px;
}
.footer2 h4{
  font-family: demo1;
  font-size: 16px;
  color: white;
  padding: 10px;

  /* margin-top: 115px; */
  margin-left: 60px;
}
.footer2 h6{
  color: #F1F8FF;
  height: 35px;
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  width: 35px;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 10px;
}
.footer2 h6 i{
  color: white;
  width: 35px;
  height:35px;
  padding: 6px;
  margin-left: 08px;
  border: 2px solid white;
  border-radius: 50%;
}
.footer2 h6 i:hover{
  background-color: #FEA116;
}
.footer3{
  margin-left: -20px;
  margin-top: -50px;
}
.footer3 h3{
  font-family: demo;
  font-size: 24px;
  color: #FEA116;
  margin-top: 115px;
  margin-left: 60px;
}
.footer3 h2{
  color: #F1F8FF;
  /* height: 35px; */
  padding:15px;
  /* width: 35px; */
  font-size: 16px;
  margin-left: 50px;
  margin-top: -10px;
}
.footer4{
  margin-top: -50px;
}
.footer4 h3{
  font-family: demo;
  font-size: 24px;
  color: #FEA116;
  margin-top: 115px;
  margin-left: 60px;
}
.footer4 .n1{
  color: #F1F8FF;
  width: 400px;
  padding:15px;
  height: 18px;
  font-size: 16px;
  margin-left: 50px;
  margin-top: -10px;
}
.footer4 .n2{
  display: flex;   
  margin-top: 30px;
  margin-bottom: 30px;;
}
.input-email{
  height: 58px;
  width: 243px;
  margin-left: 65px;
  padding: 10px;
}
.footer4 .n3{
  margin-left:-100px;
  margin-right:80px;
  height: 46px;
  width: 80px;
  color: #F1F8FF;
  border-radius: 5px;
  border: 3px solid #b99e76;
  background-color: #FEA116;
  margin-top: 5px;
  cursor: pointer;
}
.last{background: #151214;color: #F1F8FF;}
.last-hr{color: #666565;width: 90%; margin-left: 80px; opacity: 0.5;}
.last h5{margin-left: 5%;font-size: 15px; padding: 15px; margin-top: 10px; }
.last h5 span{font-size: 15px; text-decoration: underline;}
@media only screen and (max-width: 600px)
{
  .footer{
    width: 100%;
    display: inline-block;
    background-color: #151214;
    margin-top: 91px;
  }
  .footer1{ 
    padding: 5px 5px 25px 5px;
  }
  .footer1 h3{
    font-family: demo;
    font-size: 24px;
    color: #FEA116;
    margin-top: 70px;
    margin-left: 100px;
  }
  .footer1 p{
    font-family: demo1;
    font-weight: 20px;
    color: white;
    font-size: 15px;
    margin-left: 90px;
    padding: 10px;
  }
  .footer2{
    margin-left: 40px;
  }
  .footer2 h3{
    font-family: demo;
    font-size: 22px;
    color: #FEA116;
    margin-top: 15px;
    margin-left: 60px;
  }
  .footer2 h4{
    font-family: demo1;
    font-size: 16px;
    color: white;
    padding: 10px;
    /* margin-top: 115px; */
    margin-left: 60px;
  }
  .footer2 h6{
    color: #F1F8FF;
    height: 35px;
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
    width: 35px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 10px;
  }
  .footer2 h6 i{
    color: white;
    width: 35px;
    height:35px;
    padding: 6px;
    margin-left: 08px;
    border: 2px solid white;
    border-radius: 50%;
  }
  .footer2 h6 i:hover{
    background-color: #FEA116;
  }
  .footer3{
    margin-left: 40px;
  }
  .footer3 h3{
    font-family: demo;
    font-size: 24px;
    color: #FEA116;
    margin-top: 50px;
    margin-left: 60px;
  }
  .footer3 h2{
    color: #F1F8FF;
    /* height: 35px; */
    padding:15px;
    /* width: 35px; */
    font-size: 16px;
    margin-left: 50px;
    margin-top: -10px;
  }
  .footer4{
    margin-top: -50px;
    margin-left: 50px;
  }
  .footer4 h3{
    font-family: demo;
    font-size: 24px;
    color: #FEA116;
    margin-top: 115px;
    margin-left: 60px;
  }
  .footer4 .n1{
    color: #F1F8FF;
    width: 400px;
    padding:15px;
    height: 18px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: -10px;
  }
  .footer4 .n2{
    display: flex;   
    margin-top: 30px;
    margin-bottom: 30px;;
  }
  .input-email{
    height: 58px;
    width: 243px;
    margin-left: 65px;
    padding: 10px;
  }
  .footer4 .n3{
    margin-left:-100px;
    margin-right:80px;
    height: 46px;
    width: 80px;
    color: #F1F8FF;
    border-radius: 5px;
    border: 3px solid #b99e76;
    background-color: #FEA116;
    margin-top: 5px;
    cursor: pointer;
  }
  .last{background: #151214;color: #F1F8FF;}
  .last-hr{color: #666565;width: 50%;opacity: 0.5;}
  .last h5{margin-left: 5%;font-size: 15px; padding: 15px; margin-left: 10px; margin-top: 20px; }
  .last h6 span{font-size: 15px; text-decoration: underline;}
}
